.sectiones {
   display: flex;
   width: 100%;
   gap: 1rem;
   flex-direction: column;
}

section {
   display: flex;
   width: 100%;
   gap: 1.5rem;
}

section > * {
   flex: 1;
}

.--code {
   background-color: var(--gunmetal-bg);
   color: var(--gunmetal-text);
   border-radius: 0.5rem;
   a {
      color: var(--ice-mint);
   }
}

.--preview {
   display: flex;
   justify-content: center;
   align-items: center;
}

.--element {
   aspect-ratio: 1 / 1;
   height: 5rem;
   background-color: var(--pastel-blue);
   border-radius: 0.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Animation */

@keyframes typing {
   from {
      width: 0;
   }
   to {
      width: 100%;
   }
}

.base {
   p {
      border-right: 2px solid;
      white-space: nowrap;
      animation: typing 5s steps(100) forwards;
      overflow: hidden;
   }
}

/* main */

.--element {
   animation-duration: 5s;
   animation-iteration-count: infinite;
}

.--opacity .--element {
   animation-name: opacity;
}

@keyframes opacity {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.--color .--element {
   animation-name: color-b;
}

@keyframes color-b {
   0% {
      background-color: var(--pastel-red);
   }
   16.5% {
      background-color: var(--pastel-orange);
   }
   33% {
      background-color: var(--pastel-yellow);
   }
   49.5% {
      background-color: var(--pastel-green);
   }
   64% {
      background-color: var(--pastel-blue);
   }
   78.5% {
      background-color: var(--pastel-indigo);
   }
   93% {
      background-color: var(--pastel-violet);
   }
}

.--translate .--element {
   animation-name: translate;
}

@keyframes translate {
   from {
      transform: translateX(0) translateY(0);
   }
   to {
      transform: translateX(100px) translateY(-100px);
      /* transform: translate(100px, -30px); */
      /* Если указать только один аргумент, то второй считается 0 */
   }
}

.--slide .--preview,
.--animation-timing-function .--preview,
.--animation-delay .--preview,
.--animation-play-state .--preview,
.--animation-fill-mode .--preview {
   display: flex;
   flex-direction: column;
   align-items: start;
}

.--animation-delay .--preview {
   align-items: center;
   gap: 3rem;
}

.--slide .--element__normal {
   background-color: var(--pastel-red);
   animation-duration: 10s;
   animation-name: slide;

   animation-direction: normal;
}

.--slide .--element__reverse {
   background-color: var(--pastel-orange);
   animation-duration: 10s;
   animation-name: slide;

   animation-direction: reverse;
}

.--slide .--element__alternate {
   background-color: var(--pastel-yellow);
   animation-name: slide;
   /* сначала вперёд, затем назад */
   animation-direction: alternate;
}

.--slide .--element__alternate-reverse {
   background-color: var(--pastel-green);
   animation-name: slide;
   /* сначала назад, затем вперёд */
   animation-direction: alternate-reverse;
}

@keyframes slide {
   from {
      transform: translateX(0);
   }
   to {
      transform: translateX(20rem);
   }
}

/* animation-timing-function */
.--animation-timing-function .--element__linear {
   background-color: var(--pastel-red);
   animation-name: slide;
   animation-timing-function: linear;
}

.--animation-timing-function .--element__ease {
   background-color: var(--pastel-orange);
   animation-name: slide;
   animation-timing-function: ease;
}

.--animation-timing-function .--element__ease-in {
   background-color: var(--pastel-yellow);
   animation-name: slide;
   animation-timing-function: ease-in;
}

.--animation-timing-function .--element__ease-out {
   background-color: var(--pastel-green);
   animation-name: slide;
   animation-timing-function: ease-out;
}

.--animation-timing-function .--element__ease-in-out {
   background-color: var(--pastel-blue);
   animation-name: slide;
   animation-timing-function: ease-in-out;
}

.--animation-timing-function .--element__cubic-bezier {
   background-color: var(--pastel-indigo);
   animation-name: slide;
   animation-timing-function: cubic-bezier(0.8, 1.5, 0.2, -1);
}

.--animation-timing-function .--element__staps {
   background-color: var(--pastel-violet);
   animation-name: slide;
   animation-timing-function: steps(10, end);
}

@keyframes rotate {
   from {
      transform: rotate(0);
   }
   to {
      transform: rotate(calc(45deg * 3));
   }
}

.--animation-delay .--element {
   animation: 5s linear infinite;
   animation-delay: 3s;
   animation-name: rotate;
}
.--animation-delay .--element__back {
   background-color: var(--pastel-indigo);
   animation-delay: -3s;
}

.--animation-play-state {
   .--element {
      animation-duration: 10s;
      animation-name: slide;
      animation-play-state: running;
   }

   .--element:hover {
      animation-play-state: paused;
   }
}

@keyframes slide-on {
   0% {
      transform: translateX(10rem);
   }
   50% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(20rem);
   }
}

.--animation-fill-mode {
   .--element {
      animation-name: slide-on;
      animation-iteration-count: 1;
      animation-play-state: paused;
      animation-delay: 1s;
   }
   .--element.active {
      animation-play-state: running;
   }
   .--element:first-child {
      background-color: var(--pastel-red);
      animation-fill-mode: none;
   }
   .--element:nth-child(2) {
      background-color: var(--pastel-orange);
      animation-fill-mode: forwards;
   }
   .--element:nth-child(3) {
      background-color: var(--pastel-yellow);
      animation-fill-mode: backwards;
   }
   .--element:nth-child(4) {
      background-color: var(--pastel-green);
      animation-fill-mode: both;
   }
}

@keyframes scale {
   from {
      transform: translateX(20rem);
   }
   to {
      transform: scale(5);
   }
}

@keyframes skew {
   from {
      transform: scale(5);
   }
   to {
      transform: skew(30deg, 30deg);
   }
}

@keyframes matrix {
   0% {
      transform: skew(30deg, 30deg);
   }
   50% {
      transform: matrix(0.4, 0, 0.5, 1.2, 60, 10);
   }
   100% {
      transform: matrix(0, 2, 1, 3, 2, 2);
   }
}

.--multi .--preview {
   justify-content: start;
   .--element {
      animation:
         rotate 5s,
         slide 5s 5s,
         scale 5s 10s,
         skew 5s 15s,
         matrix 5s 20s forwards,
         color-b 30s both;
      animation-play-state: paused;
   }
   .--element.active {
      animation-play-state: running;
   }
}

/* dop */

@keyframes loading {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.loader {
   border: 4px solid #eee;
   border-top: 4px solid #3498db;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   animation: loading 1s linear infinite;
}

.end {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 6rem;
}
